.active-apps {
    width: fit-content;
    height: 40px;
    color: white;
    display: flex;
    margin-right: auto;
    align-items: center;
    gap: 0.2rem;
    cursor: default;

    &-app {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 200px;
        max-height: 38px;
        padding: 0.4rem 0;
        border-radius: 5px;
        font-size: 0.8rem;
        border: 0.3px solid rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.8),
        0 0 2px rgba(255, 255, 255, 0.8);

        &.shrink {
            justify-content: center;
            width: 45px;

            & h4 {
                display: none;
            }
        }

        & img {
            width: 25px;
            margin-left: 0.5rem;
        }

        & h4 {
            margin-left: 0.3rem;
            font-weight: 400;
            letter-spacing: 0.8px;
        }

        &:hover {
            box-shadow: inset -10px -15px 30px -10px rgb(57, 122, 233),
            inset -15px 0 35px -10px rgb(57, 122, 233),
            inset 5px 5px 20px rgba(255, 255, 255, 0.8);
        }

        &--preview {
            display: none;

            &.hovered {
                display: block;
                position: absolute;
                bottom: 50px
            }
        }
    }
}