.taskbar {
    display: flex;
    position: absolute;
    z-index: 100;
    bottom: -2px;
    left: 0;
    width: 100vw;
    height: 40px;
    background-color: var(--darkturquoise-transparent);
    box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.3),
        0 0 15px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0.2) 30%,
            rgba(0, 0, 0, 0.2) 50%);

    &__container {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 100;
    }

    &__start-menu {
        flex-shrink: 0;
        position: relative;
        min-width: 80px;


        &--icon {
            position: absolute;
            width: 3.5rem;
            bottom: -8px;
            right: 10%;
            transition: transform 0.3s ease, filter 0.3s ease;

            &:hover {
                transform: scale(1.03);
                filter: drop-shadow(0 0 5px var(--white80));
            }
        }
    }

    &__icons {
        flex-shrink: 0;
        max-width: 200px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: all 0.3s ease;

        &.expanded {
            max-width: 355px;
        }
    }

    &__apps {
        display: flex;
        max-width: 1000px;
        flex-grow: 1;
        white-space: nowrap;
        justify-content: flex-start;

        & > * {
            flex-shrinK: 0;
        }
    }

    &__system-icons-and-time {
        display: flex;
        flex-shrink: 0;
        gap: 1rem;
        margin-left: auto;
    }

    &__system-icons {
        display: flex;
        margin-left: 1.5rem;
    }

    &__time {
        display: flex;
        align-items: center;
        width: 60px;
        height: auto;
        color: #fff;
        font-weight: 500;
        font-size: 1.2rem;
        opacity: 0.9;
        cursor: default;
    }
}

@media screen and (min-width: 768px) {

    .taskbar {
        &__icons {
            min-width: 285px;
            padding-right: 20px;
        }
    }
}