.desktop {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("../../assets/background/leaves-bg.jpg");
    background-size: cover;
    z-index: 1;

    &__main {
        width: 100%;
        height: 100%;
        position: relative;

        &__icons {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 90vh;
            width: fit-content;
        }

        &__icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            transition: filter 0.3s ease;
            cursor: default;
            padding: 0.2rem;
            border-radius: 2px;

            & img {
                width: 40px;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

                & img {
                    filter: drop-shadow(0 0 5px var(--white60));
                }
            }

            & p {
                font-size: 0.6rem;
                color: var(--off-white);
                text-align: center;
            }
        }

        &__pdfs {
            width: fit-content;
            z-index: 3;
        }
    }

    &__widgets {
        width: 220px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        right: 0;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 60px;
        z-index: 3;
    }

    &__tech {
        display: flex;
        justify-content: center;
        z-index: 100;
    }

    &__weather-app {
        z-index: 1;
    }

    &__sticky-note {
        z-index: 2;
    }

    &__todo {
        z-index: 1;
    }

}